# Pandas - Indexing and Selecting Data

In [2]:
# import library
import pandas as pd
import numpy as np

### loc()

In [3]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])
print(df, '\n')

# select all rows for a specific column
print(df.loc[:, ['A', 'B']])

          A         B         C         D
a  1.361440 -0.287558  0.532562  0.298162
b -1.462803  0.850388 -0.536530  0.453985
c  0.676907  0.166347  0.161077  0.277267
d -1.305032 -0.290155  0.989881  1.160050
e  0.381231  0.032100 -0.434587 -0.055387
f  0.634538 -0.603378  0.203290 -0.795886
g -0.924503  0.014609 -0.777919 -0.619026
h -1.845677  0.610740 -0.844229 -0.412060

          A         B
a  1.361440 -0.287558
b -1.462803  0.850388
c  0.676907  0.166347
d -1.305032 -0.290155
e  0.381231  0.032100
f  0.634538 -0.603378
g -0.924503  0.014609
h -1.845677  0.610740

In [6]:
# select few rows for multiple columns
print(df.loc[['a', 'c', 'd', 'd'], ['A', 'C']], '\n')

# select range of rows for all columns
print(df.loc['a':'h'])

          A         C
a  1.361440  0.532562
c  0.676907  0.161077
d -1.305032  0.989881
d -1.305032  0.989881

          A         B         C         D
a  1.361440 -0.287558  0.532562  0.298162
b -1.462803  0.850388 -0.536530  0.453985
c  0.676907  0.166347  0.161077  0.277267
d -1.305032 -0.290155  0.989881  1.160050
e  0.381231  0.032100 -0.434587 -0.055387
f  0.634538 -0.603378  0.203290 -0.795886
g -0.924503  0.014609 -0.777919 -0.619026
h -1.845677  0.610740 -0.844229 -0.412060

### iloc()

In [11]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
    
# first 4 rows
print(df.iloc[:4])

print(df.iloc[1:5, 2:4])

# slicing through list of values
print(df.iloc[[1, 3, 5], [1, 3]])

print(df.iloc[:, [1, 3]])

          A         B         C         D
0  0.005120 -0.424813 -1.979795  1.411679
1  1.223661 -0.092902 -2.290346  1.569284
2  0.388683 -1.730745  0.249012 -0.114703
3 -0.509117 -1.478334  1.399982  0.865158
          C         D
1 -2.290346  1.569284
2  0.249012 -0.114703
3  1.399982  0.865158
4  0.982128  0.869315
          B         D
1 -0.092902  1.569284
3 -1.478334  0.865158
5 -0.939995  1.103013
          B         D
0 -0.424813  1.411679
1 -0.092902  1.569284
2 -1.730745 -0.114703
3 -1.478334  0.865158
4 -0.349555  0.869315
5 -0.939995  1.103013
6  0.589257 -1.232090
7  1.183311 -0.472837

In [17]:
print(df[['A', 'B']])
print(df.A)

          A         B
0  1.888777  1.816332
1  0.306993 -1.400893
2  0.349789 -1.735804
3  1.791383  0.029190
4 -1.229511  1.878612
5  1.557183 -0.158033
6  0.352459  1.260741
7 -0.782470  0.407509
0    1.888777
1    0.306993
2    0.349789
3    1.791383
4   -1.229511
5    1.557183
6    0.352459
7   -0.782470
Name: A, dtype: float64