# Pandas - Iteration

In [4]:
# import library
import pandas as pd
import numpy as np

In [12]:
# Iterating a DataFrame
N = 20
df = pd.DataFrame({
    'A': pd.date_range(start='2016-01-01', periods=N, freq='D'),
    'x': np.linspace(0, stop=N-1, num=N),
    'y': np.random.rand(N),
    'C': np.random.choice(['Low', 'Medium', 'High'], N).tolist(),
    'D': np.random.normal(100, 10, size=(N)).tolist()
})

# iteration using loop
for col in df:
    print('Column:', col)
    for val in df[col]:
        print(val)

Column: A
2016-01-01 00:00:00
2016-01-02 00:00:00
2016-01-03 00:00:00
2016-01-04 00:00:00
2016-01-05 00:00:00
2016-01-06 00:00:00
2016-01-07 00:00:00
2016-01-08 00:00:00
2016-01-09 00:00:00
2016-01-10 00:00:00
2016-01-11 00:00:00
2016-01-12 00:00:00
2016-01-13 00:00:00
2016-01-14 00:00:00
2016-01-15 00:00:00
2016-01-16 00:00:00
2016-01-17 00:00:00
2016-01-18 00:00:00
2016-01-19 00:00:00
2016-01-20 00:00:00
Column: x
0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
11.0
12.0
13.0
14.0
15.0
16.0
17.0
18.0
19.0
Column: y
0.8081325524114881
0.6376767754423601
0.38754104635922426
0.7890741071007871
0.6603888749816528
0.5334215013362539
0.3371850037094002
0.8721658962774531
0.6834601943494886
0.1551334042117053
0.7144892618448002
0.22237594196183352
0.43005671525409794
0.519865800976516
0.5067900493018798
0.6116330618778691
0.5472113582923261
0.605338885924227
0.3009506278684798
0.3345331193751925
Column: C
Medium
Medium
Low
Low
High
High
Medium
Medium
Low
Medium
Medium
Low
Medium
Medium
Medium
Medium
High
Low
High
High
Column: D
98.62389740387516
106.42104278940093
86.22797697082316
109.42025340981587
99.64298027568995
81.96617984715593
101.91727929596489
114.26662733989323
107.18470658639283
110.22358023769506
80.79203925466808
104.90657840079152
98.31911349755039
105.63079322973809
116.90090452409086
89.47424958020363
95.35670386555734
91.26245302218548
104.85847860623821
110.63194047119345

### iteritems() - to iterate over the (key, value) pairs

In [17]:
df = pd.DataFrame(np.random.randn(4, 3), columns=['col1', 'col2', 'col3'])
print('Data:\n', df, '\n')

for key, value in df.iteritems():
    print(key)
    print(value)

Data:
        col1      col2      col3
0 -0.929725  0.960852  1.842552
1 -0.389289  2.343513  0.337232
2 -0.678642 -0.479783 -1.638634
3 -1.741954 -0.327324 -0.904041

col1
0   -0.929725
1   -0.389289
2   -0.678642
3   -1.741954
Name: col1, dtype: float64
col2
0    0.960852
1    2.343513
2   -0.479783
3   -0.327324
Name: col2, dtype: float64
col3
0    1.842552
1    0.337232
2   -1.638634
3   -0.904041
Name: col3, dtype: float64

### iterrows() - returns the iterator yielding each index value along with a series containing the data in each row.

In [19]:
df = pd.DataFrame(np.random.randn(4, 3), columns=['col1', 'col2', 'col3'])
print('Data:\n', df, '\n')

for row_index, row in df.iterrows():
    print('Row:', row_index)
    print(row)

Data:
        col1      col2      col3
0 -0.371923  1.242471  0.540533
1 -0.251253  2.077965  0.671160
2 -0.312839 -0.800939 -0.909240
3  0.436084 -1.016814 -0.043124

Row: 0
col1   -0.371923
col2    1.242471
col3    0.540533
Name: 0, dtype: float64
Row: 1
col1   -0.251253
col2    2.077965
col3    0.671160
Name: 1, dtype: float64
Row: 2
col1   -0.312839
col2   -0.800939
col3   -0.909240
Name: 2, dtype: float64
Row: 3
col1    0.436084
col2   -1.016814
col3   -0.043124
Name: 3, dtype: float64